In [1]:
!pip install wandb -qq

In [2]:
import wandb

In [4]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp38-cp38-win_amd64.whl (11.0 MB)
     ---------------------------------------- 11.0/11.0 MB 1.4 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20.3 in c:\users\anna\anaconda3\envs\newdetectron\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\anna\anaconda3\envs\newdetectron\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     -------------------------------------- 499.4/499.4 kB 1.8 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\anna\anaconda3\envs\newdetectron\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.3 pytz-2022.7.1

In [6]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ------------------------------------ 293.3/293.3 kB 377.4 kB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25 in c:\users\anna\anaconda3\envs\newdetectron\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\anna\anaconda3\envs\newdetectron\lib\site-packages (from seaborn) (3.2.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\anna\anaconda3\envs\newdetectron\lib\site-packages (from seaborn) (1.23.4)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\anna\anaconda3\envs\newdetectron\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\anna\anaconda3\envs\newdetectron\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\anna\anaconda3\envs\newdetectron\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\anna\anaconda3\envs\newdetectron\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\anna\anaconda3\envs\newdetectron\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in c:\users\anna\anaconda3\envs\newdetectron\lib\site-packages (from python-dateutil>=2.1->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [9]:
data = pd.read_csv("C:/Users/Anna/Downloads/Billionaire.csv")

In [10]:
data.head()

,Name,NetWorth,Country,Source,Rank,Age,Industry
0,Jeff Bezos,$177 B,United States,Amazon,1,57.0,Technology
1,Elon Musk,$151 B,United States,"Tesla, SpaceX",2,49.0,Automotive
2,Bernard Arnault & family,$150 B,France,LVMH,3,72.0,Fashion & Retail
3,Bill Gates,$124 B,United States,Microsoft,4,65.0,Technology
4,Mark Zuckerberg,$97 B,United States,Facebook,5,36.0,Technology

In [13]:
data.shape

(2755, 7)

In [19]:
#converting networth column to float 
data["NetWorth"]= data["NetWorth"].str.strip('$')
data["NetWorth"]= data["NetWorth"].str.strip('B')
data["NetWorth"]= data["NetWorth"].astype(float)

In [20]:
data["NetWorth"].head()

0    177.0
1    151.0
2    150.0
3    124.0
4     97.0
Name: NetWorth, dtype: float64

In [11]:
#how many missing values is there in each column?
data.isnull().sum()

Name         0
NetWorth     0
Country      0
Source       0
Rank         0
Age         79
Industry     0
dtype: int64

In [14]:
#replacing missing values in age column by the median
data["Age"]= data["Age"].replace(np.NaN, data["Age"].median())

In [18]:
data["Age"].isnull().sum()

0

In [24]:
#top 10 country with the highest number of billionaires
number_of_billionaires = data["Country"].value_counts()
print(number_of_billionaires[:10])

United States     724
China             626
India             140
Germany           136
Russia            118
Hong Kong          71
Brazil             65
Canada             64
United Kingdom     56
Italy              51
Name: Country, dtype: int64

In [26]:
#top 5 industry with the highest number of billionaires
industry_count = data["Industry"].value_counts()[:5]
print(industry_count)

Finance & Investments    371
Technology               365
Manufacturing            331
Fashion & Retail         273
Healthcare               221
Name: Industry, dtype: int64

In [ ]:
##most of the billionaires come from United states and China, two very developed countries, this proves that the business environment
### plays a major role in the success of a business